.wrapper-body {
  min-height: 100vh;
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #d9d9d9, #ffffff);
}

img {
  border-radius: 0.5em;
}

* {
  box-sizing: border-box;
}

.flipbook-container {
  text-align: center;
}

.flipbook {
  margin: auto;
  width: 920px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.leaf {
  position: absolute;
  transform-style: preserve-3d;
  height: 100%;
  width: 50%;
  background-color: transparent;
  left: 50%;
  transition:
    transform 1s ease-in-out,
    opacity 1s;
  transform-origin: left 0px;
  transform: rotateY(0deg);
}

.leaf.turned {
  transform: rotateY(-180deg);
}

.page {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  overflow: hidden;
}

.page.front {
  transform: rotateY(0deg);
  box-shadow: inset 5px 0px 5px -5px #0005;
}

.page.back {
  transform: rotateY(180deg);
  box-shadow: inset -5px 0px 5px -5px #0005;
}

.pageNumber {
  font-size: 0.75em;
  position: absolute;
  bottom: 0.5em;
}

.contents-row {
  display: flex;
  flex-flow: row nowrap;
}

.spacer {
  flex: 1 1;
  height: 1em;
  border-bottom: 1px dashed #000;
}

h1,
h2,
h3 {
  font-family: cursive;
}

button {
  padding: 10px 20px;
  background-color: #e76f51;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.controls {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;

  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.controls .btn {
  pointer-events: auto;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.controls .btn:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.controls .btn:disabled {
  background: #e4d7d7;
  opacity: 0.3;
  cursor: not-allowed;
}

.controls .btn.prev {
  position: absolute;
  left: 260px;
}

.controls .btn.next {
  position: absolute;
  right: 280px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}

.footer p {
  margin: 0;
}

.title {
  @apply flex justify-center items-center text-center h-full text-black;
  width: 100%;
  padding: 0em !important;
  padding-top: 2em;
}

.page {
  padding: 1em;
}

.page.front {
  border-radius: 0em 1em 1em 0;
}

.page.back {
  border-radius: 1em 0em 0em 1em;
}

.leaf {
  background-color: transparent !important;
}

.full-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin: 0 auto;
}
